---


---
<header class="bg-white shadow">
  <nav class="max-w-6xl mx-auto flex items-center justify-between p-4">
    <a href="/" class="font-bold text-lg">Print ED</a>
    <ul class="flex gap-4">
        <a href="#">Featured Products</a>
        <a href="#">All Products</a>
        <a href="#">About Us</a>
    </ul>
  </nav>
</header>
